#keyboardButtons
{
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
    margin-left: 4.550em;
    margin-top: -0.70em;
}
#keyboardButtons button
{
    border: 0.180em solid #888;
    height: 100%;
    width: 100%;
}
#keyboardButtons div
{
    border: 0;
    display: flex;
    height: 4em;
    width: 25em;
}

#MEMORY
{
    height: 100%;
    padding: 1em;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    width: auto;
}

button
{
    width: 11.80em;
}

div
{
    border: 0.25em solid #888;
}
div.justified
{
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div.borderless
{
    border: 0;
    clear: both;
    padding: 1em;
    padding-top: 0;
}

form
{
    display: inline-block;
}

input
{
    display: block;
    font-weight: bold;
    text-align: center;
}

select
{
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
    width: 10%;
}

textarea
{
    /*border: 0.5em solid #888;*/
    display: inline-block;
    overflow: auto;
    resize: none;
    width: 99.50%;
}