div
{
    border: 0.25em solid #888;
}

div.justified
{
    display: flex;
    justify-content: center;
}

div.borderless
{
    border: 0;
    clear: both;
    padding: 1em;
    padding-top: 0;
}

textarea
{
    /*border: 0.5em solid #888;*/
    display: inline-block;
    /*margin-left: auto;
    margin-right: auto;*/
    overflow: auto;
    resize: none;
    width: 100%;
}